// by @sergodeeva (https://github.com/sergodeeva)
$color-background = #FFFFFF
$color-footer-mobile-1 = darken($color-background, 2%)
$color-footer-mobile-2 = darken($color-background, 10%)
$color-border = #ff73aa
$color-scrollbar = #AAA
$color-meta = #666
$color-meta-code = #ff73aa
$color-link = rgba(255, 115, 170, 1)
$color-text = #383838
$color-accent-3 = #2bbc8a
$color-accent-2 = #ff73aa
$color-accent-1 = #ff73aa
$color-quote = #2bbc8a
$highlight = hexo-config("highlight") || "atelier-cave-light"
